# Custom CSS for Project 
body, html {
	margin:0px !important;
	padding:0px !important;
	min-height:100%;
}

.wrap {
	width:100%;
	overflow-x:hidden;
}

.remove-radius {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.remove-pad {
	padding:0px !important;
}

.query-input {
	position: relative;
}

.query-input textarea {
	height:130px;
	padding: 8px 25px;
	font-size:24px;
}

.query-input button {
	margin: 20px 35px;
}

.query-input .input-group {
	margin: 20px 35px;
}

.nav-holder {}

.results {
	margin:10px 40px;
}

.status {
	margin-top:30px;
}

.options {
	padding:10px 35px;
}

.side-nav-holder {
	background:#494949;
	overflow-y:hidden;
}

@media (min-width: 768px) {
   	.side-nav-holder {
		height:100%;
		position:fixed;
	}
	.main {
		margin-left: 32.2%;
	}
}

@media (min-width: 992px) {
  	.side-nav-holder {
		height:100%;
		position:fixed;
	}
	.main {
		margin-left: 24.4%;
	}
}

@media (min-width: 1200px) {
  	.side-nav-holder {
		height:100%;
		position:fixed;
	}
	.main {
		margin-left: 16.41%;
	}
}

 

.side-nav {
	background:#494949;
}

.side-nav nav {
	padding:0px !important;
}

.side-nav nav ul {
	list-style:none;
	margin:0px;
	padding:0px !important;
	-webkit-margin-before: 0px !important;
	-webkit-margin-after: 0px !important;
	-webkit-padding-start: 0px !important;
}

.side-nav nav ul li {
	list-style:none;
	margin:0px;
	float:none !important;
}

.side-nav nav a {
	padding-left:20px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.side-nav nav .active {
	background:#494949;
	border-color:#2d2d2d;
	-moz-box-shadow:    inset 0 0 10px #2d2d2d;
   	-webkit-box-shadow: inset 0 0 10px #2d2d2d;
   	box-shadow:         inset 0 0 10px #2d2d2d;
}

.side-nav nav .active:hover {
	background:#2d2d2d;
	border-color:#2d2d2d;
}

.footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	padding:15px;
	text-align: center;
	color:#333;
	font-size:15px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	margin-bottom: 0px !important;
}