# Custom CSS for Project 
body, html {
	margin:0px !important;
	padding:0px !important;
}

.wrap {
	width:100%;
	overflow-x:hidden;
}

.remove-radius {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.remove-pad {
	padding:0px !important;
}

.query-input {
	position: relative;
}

.query-input textarea {
	height:100px;
	padding-left:25px;
	font-size:25px;
}

.query-input button {
	height:100px;
	font-size:25px;
}

.nav-holder {}

.results {
	padding:10px 25px;
}

.options {
	padding:10px 25px;
}